<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="pointer" routerLink="/">Cat Condo Inc.</span>

      <!-- Filler that pushes the menu button to the end of the toolbar -->
      <span fxFlex></span>

      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item (click)="navigate('admin')">Admin</button>
  </mat-menu>
  <router-outlet></router-outlet>
</div>
