<div class="home-container">
  <mat-card class="preview-card" (click)="goToCatCentral()">
    <mat-card-header>
      <mat-card-title>Cat Central</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="titleImg" src="../../assets/cat-inc.jpg" />
    <mat-card-content>
      <p>Discover that little fellow that might believe in alwiens</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="preview-card" (click)="goToCondoCraze()">
    <mat-card-header>
      <mat-card-title>Condo Craze</mat-card-title>
    </mat-card-header>
    <img src="../../assets/cat_condo.jpg" mat-card-image />
    <mat-card-content>
      <p>The vehicle to the heart of your furry friend</p>
    </mat-card-content>
  </mat-card>
</div>
